@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --main: rgb(226, 106, 8);
    --secondary: rgb(9, 86, 112);
}

body {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 100vh;
    background-color: wheat;
    
  }
  
  main {
    text-align: center;
    height: 100%;
  }
  
  p {
    padding: 2rem;
    text-align: center;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    border: 3px solid var(--secondary);
    color: var(--main);
    font-weight: bolder;
  }

  h1{
    color: var(--main);
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
  }
  
  h2{
      margin: 5rem 20rem;
      text-align: center;
      color: var(--secondary);
  }

  input{
      width: 15rem;
      height: 3rem;
      background-color: var(--main);
      border-radius: 2rem;
  }

  input:hover{
      background-color: orange;
      color: white
  }

  button{
      margin: 2rem;
      width: 5rem;
      height: 2.5rem;
      background-color: var(--secondary);
      font-size: 1rem;
      color: white;
      border-radius: 1.5rem;
  }

  button:hover{
      background-color: blue;
  }

.happy{
      display: none;
  }

  .sad{
      display: none;
  }
